<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Flickr Search Tool</title>
	
	<!--Style Sheets-->
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!--Scripts-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-messages.js"></script>
	<script type="text/javascript" src="app.js"></script>

</head>

<body>
<div class="container">

	<section id="search-bar" ng-controller="searchCtrl">
		<div class="row" id="heading">
			<h1>flicker search</h1>
		</div>
	

		<form ng-submit="submit(query)" class="col-sm-8 col-sm-offset-2">
        	<input type="text" name="query" ng-model="query" required="" class="col-sm-10"/>
        	<input type="submit" value="Submit" id="submit" class="col-sm-2"/>
      	</form>
      
      	<div class="results" ng-if="results">
      		<div class="row">
      			<div class="col-sm-6 col-sm-offset-3">
        			<h4>We found {{ results.length }} results for {{ query }}</h4>
        		</div>
        	</div>
        	<div ng-repeat="result in results">
          		<img ng-src="https://farm{{result.farm}}.staticflickr.com/{{result.server}}/{{result.id}}_{{result.secret}}.jpg" class="image-inner col-sm-2"></img>
       		 </div>
     	</div>
	
	

	</section>

</div>
	
</body>
</html>